---
import { getCollection } from 'astro:content'
import Layout from "../layouts/layout.astro"
import Project from "../components/Project.astro"
const projects = await getCollection('projects')
const sortedProjects = projects.sort((a, b) => a.data.id - b.data.id)
---
<Layout>
 <h1>Projects</h1>
  {sortedProjects.map(project => (
    <Project 
        name={project.data.name} 
        images={project.data.images} 
        description={project.data.description}
        source={project.data.source}
        deploy={project.data.deploy}
        goals={project.data.goals}
    />
  ))}
</Layout>

<style>
h1 {
  margin-inline: 1rem;
}

</style>