---
interface Props {
  data: {
    title: string
    source?: string
    description: string
    certificateLink?: string
    level?: string
    duration?: string
  }
}

const { data } = Astro.props
let certLink = data.certificateLink
if (certLink) {
  if (!certLink.startsWith("https")) {
    certLink = "/certificates/" + certLink
  }
}
---

<div class="certificate--card">
  {
    certLink ? (
      <a href={certLink} target="_blank" rel="noreferrer">
        <div class="certificate--header">
          <h2>{data.title}</h2>
          <h2>{data.source}</h2>
        </div>
      </a>
    ) : (
      <div class="certificate--header">
        <h2>{data.title}</h2>
        <h2>{data.source}</h2>
      </div>
    )
  }

  <p class="certificate--description">{data.description}</p>
  <div class="certificate--footer">
    {data.level && <p class="certificate--level">{data.level}</p>}
    {data.duration && <p class="certificate--duration">{data.duration}</p>}
  </div>
</div>

<style>
  .certificate--card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--color-pale);
    border-radius: var(--border-radius);
    margin-inline: 1rem;
    padding:.5rem;
  }

  .certificate--header {
    display: flex;
    justify-content: space-between;
    padding-block: 1rem;
  }
  .certificate--description {
    font-size: 1.2rem;
  }
  .certificate--footer {
    display: flex;
    justify-content: space-between;
  }
</style>
