---
const { pathname } = Astro.url;

const jasonImage3x = "/jason3x.png"; // Placeholder, you'll want to import your images
---

<nav class="nav">
  <a href="/">
    <!-- <picture> -->
    <!-- You will need to import your images to use the picture element -->
    <!-- <source type="image/webp" srcSet={`${jasonWebp1x} 120w, ${jasonWebp2x} 180w, ${jasonWebp3x} 360w`}></source> -->
    <!-- <source type="image/png" srcSet={`${jasonImage1x} 120w, ${jasonImage2x} 180w, ${jasonImage3x} 360w`}></source> -->
    <!-- <img alt="Jason's Head" class="nav--profile" src={jasonImage3x} /> -->
    <!-- </picture> -->
  </a>
  <div class="nav--items">
    <a
      href="/"
      class:list={["nav--item", { activeLink: pathname === "/" }]}
    >
      Home
    </a>
    <a
      href="/projects"
      class:list={["nav--item", { activeLink: pathname === "/projects" }]}
    >
      Projects
    </a>
    <a
      href="/about"
      class:list={["nav--item", { activeLink: pathname === "/about" }]}
    >
      About
    </a>
  </div>
</nav>

<style>
  .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background: var(--color-pale);
  z-index: 100;
}
.nav--items {
  display: flex;
  gap: 1rem;
  font-weight: 700;
  font-size: 1.2rem;
  margin-right: 30px;
}
.nav--item {
  font-family: inherit;
  text-decoration: none;
  overflow-y: clip;
  color: var(--color-dark);
}
.nav--profile {
  width: 3.75rem;
  height: 3.75rem;
  border-radius: 50%;
  margin: 0.625rem;
}
.activeLink {
  text-decoration: underline;
}
</style>