---
const { pathname } = Astro.url
import Theme from "./Theme.astro"
import jasonWebp1x from "../assets/images/jason1x.webp?url"
import jasonWebp2x from "../assets/images/jason2x.webp?url"
import jasonWebp3x from "../assets/images/jason3x.webp?url"
import jasonImage1x from "../assets/images/jason1x.png?url"
import jasonImage2x from "../assets/images/jason2x.png?url"
import jasonImage3x from "../assets/images/jason3x.png?url"

---

<nav class="nav">
  <a href="/">
    <picture>
    <source type="image/webp" srcset={`${jasonWebp1x} 120w, ${jasonWebp2x} 180w, ${jasonWebp3x} 360w`}></source>
    <source type="image/png" srcset={`${jasonImage1x} 120w, ${jasonImage2x} 180w, ${jasonImage3x} 360w`}></source>
    <img alt="Jason's Head" class="nav--profile" src={jasonImage3x} />
    </picture>
  </a>
  <div class="nav--items">
    <a href="/" class:list={["nav--item", { activeLink: pathname === "/" }]}>
      Home
    </a>
    <a
      href="/projects"
      class:list={["nav--item", { activeLink: pathname === "/projects" }]}
    >
      Projects
    </a>
    <a
      href="/about"
      class:list={["nav--item", { activeLink: pathname === "/about" }]}
    >
      About
    </a>
    <Theme />
  </div>
</nav>


<style>
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background: var(--color-pale);
    z-index: 100;
  }
  .nav--items {
    display: flex;
    gap: 1rem;
    font-weight: 700;
    font-size: 1.2rem;
    margin-right: 30px;
  }
  .nav--item {
    font-family: inherit;
    text-decoration: none;
    overflow-y: clip;
    color: var(--color-dark);
  }
  .nav--profile {
    width: 3.75rem;
    height: 3.75rem;
    border-radius: 50%;
    margin: 0.625rem;
  }
  .activeLink {
    text-decoration: underline;
  }
</style>
